/* common */
.left {
    float: left;
}

.right {
    float: right;
}

a {
    text-decoration: none;
}

/* header */
.header {
    padding: 35px 0;
    max-width: 1080px;
    min-width: 850px;
    width: auto;
    height: 90px;
}

/* logo */
.logo a {
    color: #26191a;
    font-size: 32px;
    font-weight: bold;
    text-decoration: none;
}

.menu {
    list-style: none;
}

.menu li {
    float: left;
    margin-left: 30px;
}

.mainmenu a {
    color: #26191a;
}

.mainmenu a:hover {
    color: #e20000;
}

/* wrapper */
.wrapper {
    width: 1088px;
    margin: 0 auto;
}

/* main */
.main {
    background: #4393B9;
    height: 435px;
    padding: 90px 0;
}

/* left box */
.left-box {
    width: 448px;
    background: #ffffff;
}

/* right box */
.right-box {
    margin: 10px 110px 0px 0px;
    padding: 5px;
    color: #ffffff;
}

.right-box button {
    margin-top:10px;
    margin-left: 15px;
    padding: 8px;
    font-weight: 700;
    font-size: 20px;
}

.right-text-box {
    font-weight: 300;
    font-size: 2.5em;
}

#CurrentTask {
    padding: 50px 60px 35px 40px;
}

/* clearfix */
.cf:before,
.cf:after {
    content: "";
    display: table;
}

.cf:after {
    clear: both;
}

/* For IE 6/7 (trigger hasLayout) */
.cf {
    zoom:1;
}

#CurrentTask .time {
    font-size: 1.6em;
    font-weight: 300;
}

#CurrentTask .name {
    font-size: 1.5625em;
}

.past-tasks {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.past-tasks li {
    border-top: 1px solid #e6e6e6;
    color: #a0a0a0;
    padding: 10px 37px 9px 35px
}

.footer {
    border-top: 1px solid #e6e6e6;
    font-size: 12px;
    padding: 23px 0 40px;
    opacity: 1;
}

.footer a {
    margin-left:15px;
}

